Introduction
At its core, churn prediction is a classification problem, where the classes often are ‘churned’ and ‘active’. The prediction is based on historical data, including customer behavior, demographics, transaction history, and more.

Goal: well-balanced classification model.

Instructions:
Work in Python or R.
Examine the data.
While working through the layers of challenge, please leave comments in your code.
Share your solution in a notebook format with us.

Deliverables:

.ipynb or .R

Rules:
We understand your time is precious and would not want you to spend more than 6 to 8 hours on this over the span of one week max.

In [2]:
import pandas as pd
import numpy as np
import os

# Loading and displaying dataset

In [3]:
churn_df = pd.read_csv("../data/task_data_churned.csv")

In [14]:
pd.set_option('display.max_columns', None)

# Understanding columns

In [13]:
churn_df.columns

Index(['ws_users_activated', 'ws_users_deactivated', 'ws_users_invited',
       'action_create_project', 'action_export_report',
       'action_api_and_webhooks', 'action_time_entries_via_tracker',
       'action_start_trial', 'action_import_csv', 'action_create_invoice',
       'action_lock_entries', 'action_add_targets',
       'action_connect_quickbooks', 'action_create_expense',
       'action_project_budget', 'action_gps_tracking', 'action_screenshots',
       'action_create_custom_field', 'country', 'value_days_to_purchase',
       'value_number_of_active_months', 'value_transactions_number',
       'value_regular_seats', 'value_kiosk_seats', 'revenue',
       'churned_status'],
      dtype='object')

In [20]:
churn_df.dtypes

ws_users_activated                   int64
ws_users_deactivated                 int64
ws_users_invited                     int64
action_create_project                int64
action_export_report                 int64
action_api_and_webhooks              int64
action_time_entries_via_tracker      int64
action_start_trial                   int64
action_import_csv                    int64
action_create_invoice                int64
action_lock_entries                  int64
action_add_targets                   int64
action_connect_quickbooks            int64
action_create_expense                int64
action_project_budget                int64
action_gps_tracking                float64
action_screenshots                 float64
action_create_custom_field         float64
country                             object
value_days_to_purchase               int64
value_number_of_active_months        int64
value_transactions_number            int64
value_regular_seats                  int64
value_kiosk_seats                    int64
revenue                            float64
churned_status                      object
dtype: object

In [21]:
churn_df.head()

,ws_users_activated,ws_users_deactivated,ws_users_invited,action_create_project,action_export_report,action_api_and_webhooks,action_time_entries_via_tracker,action_start_trial,action_import_csv,action_create_invoice,action_lock_entries,action_add_targets,action_connect_quickbooks,action_create_expense,action_project_budget,action_gps_tracking,action_screenshots,action_create_custom_field,country,value_days_to_purchase,value_number_of_active_months,value_transactions_number,value_regular_seats,value_kiosk_seats,revenue,churned_status
0,3,2,0,5,8,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Canada,2,0,6,3,0,184.925,No
1,6,1,0,35,106,0,33,0,1,0,5,8,0,0,3,NaN,NaN,3.0,United Kingdom,37,9,9,6,0,608.842,No
2,2,0,0,3,3,0,0,0,0,0,10,2,1,0,9,NaN,1.0,NaN,Florida,98,3,12,3,0,395.122,No
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,NaN,Kentucky,0,1,2,1,0,25.974,Yes
4,1,0,0,0,0,1,0,0,0,0,0,0,2,0,0,NaN,NaN,NaN,Ireland,21,2,3,1,0,38.961,Yes

In [17]:
churn_df.describe()

,ws_users_activated,ws_users_deactivated,ws_users_invited,action_create_project,action_export_report,action_api_and_webhooks,action_time_entries_via_tracker,action_start_trial,action_import_csv,action_create_invoice,action_lock_entries,action_add_targets,action_connect_quickbooks,action_create_expense,action_project_budget,action_gps_tracking,action_screenshots,action_create_custom_field,value_days_to_purchase,value_number_of_active_months,value_transactions_number,value_regular_seats,value_kiosk_seats,revenue
count,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,876.000000,1044.000000,443.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000,2502.000000
mean,5.619504,0.827738,0.158273,28.043965,22.709432,0.383293,19.479616,0.175859,0.622702,8.494005,1.634293,0.290568,0.081934,10.019185,10.459233,1.371005,1.417625,7.246050,61.286571,4.215827,5.728617,6.067946,0.257794,378.331825
std,11.364130,3.527056,0.784527,80.761092,80.884964,3.089846,114.856050,0.380777,4.770705,52.699928,7.180274,1.319093,0.688108,72.849346,37.851112,0.726969,0.791806,11.577418,85.179584,3.691711,4.893211,11.766325,2.957970,1007.971191
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,0.000000,38.961000
50%,2.000000,0.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,4.000000,24.000000,3.000000,4.000000,2.000000,0.000000,105.761500
75%,6.000000,0.000000,0.000000,26.000000,15.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.000000,2.000000,7.000000,84.750000,7.000000,8.000000,6.000000,0.000000,333.459750
max,206.000000,73.000000,20.000000,1923.000000,1740.000000,127.000000,3382.000000,1.000000,120.000000,1405.000000,152.000000,30.000000,27.000000,1785.000000,829.000000,8.000000,11.000000,106.000000,420.000000,14.000000,90.000000,215.000000,117.000000,27235.156000

In [18]:
churn_df['churned_status'].value_counts()

churned_status
No     1703
Yes     799
Name: count, dtype: int64

In [19]:
missing_values = churn_df.isnull().sum()
print(missing_values)

ws_users_activated                    0
ws_users_deactivated                  0
ws_users_invited                      0
action_create_project                 0
action_export_report                  0
action_api_and_webhooks               0
action_time_entries_via_tracker       0
action_start_trial                    0
action_import_csv                     0
action_create_invoice                 0
action_lock_entries                   0
action_add_targets                    0
action_connect_quickbooks             0
action_create_expense                 0
action_project_budget                 0
action_gps_tracking                1626
action_screenshots                 1458
action_create_custom_field         2059
country                              84
value_days_to_purchase                0
value_number_of_active_months         0
value_transactions_number             0
value_regular_seats                   0
value_kiosk_seats                     0
revenue                               0
churned_status                        0
dtype: int64

As we can see here, a lot of people didn't want their GPS to be tracked, and they didn't add screenshots. So we can discard those columns entirely as they are empty on more thatn 50% of the ocassions. Also, we could exclude records that don't have a country, because they make a really small sample.

In [22]:
columns_to_exclude = ['action_gps_tracking', 'action_screenshots', 'action_create_custom_field']
churn_df = churn_df.drop(columns=columns_to_exclude)

In [23]:
churn_df = churn_df[churn_df['country'].notnull()]

In [24]:
missing_values = churn_df.isnull().sum()
print(missing_values)

ws_users_activated                 0
ws_users_deactivated               0
ws_users_invited                   0
action_create_project              0
action_export_report               0
action_api_and_webhooks            0
action_time_entries_via_tracker    0
action_start_trial                 0
action_import_csv                  0
action_create_invoice              0
action_lock_entries                0
action_add_targets                 0
action_connect_quickbooks          0
action_create_expense              0
action_project_budget              0
country                            0
value_days_to_purchase             0
value_number_of_active_months      0
value_transactions_number          0
value_regular_seats                0
value_kiosk_seats                  0
revenue                            0
churned_status                     0
dtype: int64

In [25]:
churn_df.dtypes

ws_users_activated                   int64
ws_users_deactivated                 int64
ws_users_invited                     int64
action_create_project                int64
action_export_report                 int64
action_api_and_webhooks              int64
action_time_entries_via_tracker      int64
action_start_trial                   int64
action_import_csv                    int64
action_create_invoice                int64
action_lock_entries                  int64
action_add_targets                   int64
action_connect_quickbooks            int64
action_create_expense                int64
action_project_budget                int64
country                             object
value_days_to_purchase               int64
value_number_of_active_months        int64
value_transactions_number            int64
value_regular_seats                  int64
value_kiosk_seats                    int64
revenue                            float64
churned_status                      object
dtype: object

Now the data doesn't have any missing values.

Every column is now numeric, except the country. So let's see how the countries are distributed.

In [38]:
print(f"Unique countries:{churn_df['country'].unique()}")
print(f"Number of unique countries:{len(churn_df['country'].unique())}")

Unique countries:['Canada' 'United Kingdom' 'Florida' 'Kentucky' 'Ireland' 'Philippines'
 'Albania' 'South Africa' 'Latvia' 'Connecticut' 'Kyrgyzstan' 'California'
 'Maryland' 'Slovakia' 'Indonesia' 'Illinois' 'Alabama' 'France' 'Israel'
 'Germany' 'Angola' 'Ukraine' 'Belarus' 'Netherlands' 'Australia' 'Chile'
 'New Zealand' 'Switzerland' 'Singapore' 'Virginia' 'Ohio' 'New Jersey'
 'Seychelles' 'Puerto Rico' 'Arizona' 'North Carolina' 'Texas' 'Brazil'
 'Belgium' 'Barbados' 'Pennsylvania' 'Mexico' 'New York' 'Oregon'
 'Bangladesh' 'Massachusetts' 'Indiana' 'Washington' 'Hungary' 'Finland'
 'Michigan' 'Malaysia' 'India' 'Arkansas' 'Suriname' 'Croatia' 'Colorado'
 'Mississippi' 'Italy' 'Argentina' 'Dominican Republic' 'Spain'
 'Lithuania' 'Delaware' 'Tennessee' 'Austria' 'Bahamas' 'Armenia'
 'Cayman Islands' 'Poland' 'Costa Rica' 'Czechia' 'District of Columbia'
 'Jamaica' 'Georgia' 'Lebanon' 'Romania' 'Serbia' 'French Polynesia'
 'China' 'Alaska' 'Norway' 'Louisiana' 'Turkey' 'Hawaii' 'Malta'
 'Bosnia & Herzegovina' 'Guatemala' 'Russia' 'Missouri' 'Andorra' 'Iowa'
 'Luxembourg' 'Egypt' 'Portugal' 'Minnesota' 'Denmark' 'Nepal' 'Maine'
 'Idaho' 'Colombia' 'Saudi Arabia' 'Liechtenstein' 'Oklahoma' 'Nevada'
 'Cyprus' 'New Mexico' 'Sweden' 'South Korea' 'Bahrain' 'Pakistan'
 'Namibia' 'Estonia' 'Bulgaria' 'Iceland' 'Greece' 'Azerbaijan' 'Vermont'
 'Wisconsin' 'Nigeria' 'Jordan' 'Vietnam' 'Iraq' 'British Virgin Islands'
 'Kansas' 'Utah' 'Hong Kong' 'Paraguay' 'Japan' 'Brunei' 'Qatar' 'Montana'
 'Sri Lanka' 'Slovenia' 'Thailand' 'Maldives' 'Mauritius'
 'North Macedonia' 'El Salvador' 'South Carolina' 'Algeria' 'Isle of Man'
 'Caribbean Netherlands' 'Kazakhstan' 'Jersey' 'Ethiopia' 'Ecuador'
 'Kenya' 'Micronesia' 'Laos' 'United Arab Emirates' 'Uzbekistan' 'Ghana'
 'Cape Verde' 'Belize']
Number of unique countries:155

In [27]:
# Get the value counts of the 'country' column
country_counts = churn_df['country'].value_counts()

# Display the value counts
print("Value counts of 'country' column:")
print(country_counts)

Value counts of 'country' column:
country
California        247
Australia         156
Canada            146
Florida           125
United Kingdom    112
                 ...
Qatar               1
Lebanon             1
Sri Lanka           1
Namibia             1
Belize              1
Name: count, Length: 155, dtype: int64

In [36]:
# Calculate the quantiles of the 'country' column
country_quantiles = churn_df['country'].value_counts().quantile([0.25, 0.50, 0.75])


# Display the quantiles
print("\nQuantiles of 'country' column:")
print(country_quantiles)

Quantiles of 'country' column:
0.25     2.0
0.50     6.0
0.75    13.5
Name: count, dtype: float64